@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sistema de vendas Web MVC.</p>
<p>
    <strong>Email:</strong>
    <span>@ViewData["email"]</span>
</p>
<p>
    <strong>Autor:</strong>
    <span>@ViewData["autor"]</span>
</p>
